* {
    margin: 0;
    padding: 0;
}

body, html {
    
}

header {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

nav {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

#checkbox-menu,
.toggle {
    display: none;
}

.menu {
    padding-top: 15px;
    margin: 0;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.profile a {
    color: #4285f4;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 10px;
}

.profile a:hover {
    color: #083d92;
    transition: all .10s linear;
}

.profile button {
    border: none;
    color: #4285f4;
    margin: 10px 10px;
    background: none;
}

.profile button:hover {
    color: #083d92;
    transition: all .10s linear;
}

.profile button:focus {
    border: none;
    outline: none;
}

.menu li a {
    color: #4285f4;
    text-decoration: none;
    align-self: center;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #4285f4;
    border-radius: 3px;
    transition: background .25s linear;
}

.menu li a:hover {
    background: #4285f4;
    transition: color .25s linear;
    color: #fff;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 120px;
}

.menu li a.auth {
    background: #4285f4;
    color: #fff;
    margin-left: 120px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.menu li a.auth:hover {
    box-shadow: 0 6px 2px -4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 2px 10px 0 rgba(0,0,0,.12);
    color: rgb(255,255,255);
    background-image: linear-gradient(#5894f5, #4e8ff8 50%, #4285f4);
}

.menu li a.auth:active {
    box-shadow: inset 0.5px 1px 10px -1px;
}

.content {
    background: #f2f2f2;
    min-height: 87vh;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.blocks {
    padding: 40px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar {
    min-width: 240px;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.page {
    width: 100%;
    margin-left: 25px;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.page-header {
    background: rgba(66,133,244,0.5);
    padding: 10px;
    color: #4285f4;
    font-size: 24px;
}

.page-content {
    padding: 10px;
}

.sidebar li {
    list-style-type: none;
    font-size: 20px;
}

.sidebar .category_header {
    font-size: 24px;
}

.sidebar .radio {
    margin: 10px 10px 10px 0;
    width: 16px;
    height: 16px;
}

.sidebar-header {
    background: rgba(66,133,244,0.5);
    padding: 10px;
    cursor: pointer;
    color: #4285f4;
}

.sidebar-header:hover {
    background: #4285f4;
    color: #fff;
    transition: all .25s linear;
}

.ctouch {
    height: 0;
}

.ctouch li {
    opacity: 0;
}

.checkbox-category {
    display: none;
}

#checkbox-category-1:checked + label .ctouch {
    height: 150px;
    transition: all .5s linear;
}

#checkbox-category-1:checked + label .ctouch li {
    opacity: 1;
    transition: 1.5s;
}

#checkbox-category-2:checked + label .ctouch {
    height: 150px;
    transition: all .7s linear;
}

#checkbox-category-2:checked + label .ctouch li {
    opacity: 1;
    visibility: visible;
}

.label-category li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.label-category li:hover {
    background: rgba(66,133,244,0.5);
    transition: all .1s linear;
}

.outline {
    outline: 1px solid #4285f4;
    margin: 0 1px 0 1px;
}

.form-add {
    margin: 0 auto;
    width: 400px;
}

.form-add-header {
    border-bottom: 1px solid rgba(179,179,179,0.5);
    text-align: center;
    padding-bottom: 10px;
}

.form-add-title {
    font-size: 24px;
}

.form-add-body {
    margin: 40px 0 20px 0;
}

.form-add-item {
    margin-bottom: 20px;
    width: 100%;
}

.form-add-label {
    display: block;
    margin-bottom: 5px;
    color: rgba(153,153,153);
}

.form-add-input {
    display: block;
    width: 94%;
    padding: 5px 10px;
    color: #808080;
}

.form-add-footer {
    text-align: center;
}

.form-add-btn {
    padding: 10px 20px;
}

.form-add-block-checkbox {
    display: inline-block;
}

.for-checkbox {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    user-select: none;
    width: 160px;
    text-align: center;
    border: 1px solid rgba(179,179,179,0.5);
    font-size: 15px;
    color: #808080;
}

.for-checkbox:hover {
    outline: -webkit-focus-ring-color auto 5px;
}

.form-add-checkbox {
    display: none;
}

.form-add-block-checkbox input[type=checkbox]:checked + label {
    background: #ffe0a6;
}

.hidden {
    opacity: 0;
    transition: 0.5s;
}

.visible {
    opacity: 1;
    transition: 0.5s;
}

.double-columns {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.form-add-select {
    padding: 5px 10px;
    width: 100%;
}

.flex-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item, .right {
    margin-left: 30px;
}

.flex-content .flex-item {
    display: flex;
    flex-direction: column;
}

.flex-item h2 {
    font-weight: 300;
    font-size: 18px;
    padding: 10px 0;
    color: #4285f4;
}

.flex-item ul {
    padding: 10px;
    list-style: none;
}

.flex-item ul li {
    padding: 3px 0;
}

.search-block {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0;
    margin-bottom: -40px;
}

.search-block-content {
    display: flex;
    background: rgba(66,133,244,0.5);
    padding: 10px 5px;
}

.search-block-content h2 {
    padding: 8px 10px;
    color: #4285f4;
}

.search-block-content input {
    padding: 10px;
}

.search-block-content button {
    padding: 10px;
}

@media screen and (max-width: 765px) {
    
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        width: 100%;
        background: #4285f4;
        transition: all .1s linear;
    }

    .toggle:hover {
        background: #4285f4;
    }

    #checkbox-menu:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }

    #checkbox-menu:checked + label .touch {
        height: 370px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        padding: 0;
        transition: height .3s linear;
    }

    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .menu li a.logo {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .menu li a.auth {
        background: #4285f4;
        color: #fff;
        margin-left: 0;
        margin-top: 15px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    .blocks {
        display: block;
        padding: 10px 0;
    }

    .page {
        margin: 10px 0;
    }

}